.mensagem {
    position: relative;
    display: flex;
    padding: 5px 10px;
}

.container::before {
    content: "";
    position: absolute;
    background-color: #FFf;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    width: 10px;
    height: 10px;
    left: -5px;
    top: 0;
}


.pessoa {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
}

.container {
    background-color: #FFFFFF;
    padding: 6px 7px 15px 9px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    margin: 15px 5px 0px 5px;
}

.nome {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.horario {
    font-size: 10px;
    color: #667781;
    position: absolute;
    bottom: 2px;
    right: 5px;
}


.foto {
    width: 100%;
    border-radius: 5px;
}


.conteudo {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.texto {
    font-size: 15px;
    line-height: 20px;
}

.contaier__imagem {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.container__foto__grande {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.foto__grande {
    display: block;
    margin: 0 auto;
    width: 90%;
    z-index: 3;
}